div{
    width: 5px;
    aspect-ratio: 1/1;
    border-radius: 100%;
    border: 5px solid red;

    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;

    animation: animi 3000ms infinite;
}

@keyframes animi {
    from{
        width: 5px;
    }
    to{
        width: 200px;
        opacity: 0;
    }
}
