body{
  overflow-x: hidden;
}

section{
    width: 100vw;
    height: 100vh;
    font-family: sans-serif;
    position: relative;
}
section>div{
    width: 100vw;
    height: 50px;
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    padding-left: 10px;
}
section>h1{
    width: fit-content;
    height: fit-content;
    font-size: 100px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;

}
section:first-child>div{
    background: red;
}

section:nth-child(2){
    background: dodgerblue;
}
section:nth-child(2)>div{
    background: mediumblue;
}

section:nth-child(3){
    background: #725a50;
}
section:nth-child(3)>div{
    background: #1a1919;
}

section:nth-child(4){
background: #ff2828;
}
section:nth-child(4)>div{
    background: #9f2424;
}




